# Include everything the framework requires
# You will automatically get updates for all versions starting with "1.".
rlbot>=1.36.3
rlbottraining>=0.6.1
numpy
numba
scipy

# This will cause pip to auto-upgrade and stop scaring people with warning messages
pip
